{% load static %}
<div class="category-all">
    <button class="category-btn" type="button">
        <i class="far fa-grid-2-plus"></i><span>All Categories</span>
    </button>
    <ul class="main-category">
        <li>
            <a href="index.html#">
                <img src="{% static 'product/assets/' %}img/icon/shopping-bag.svg" alt="">
                <span>New Arrivals</span><i class="far fa-angle-right"></i>
            </a>
            <ul class="sub-category">
                <li><a href="index.html#"><img src="{% static 'product/assets/' %}img/icon/dress.svg" alt=""><span>Accessories</span></a></li>
                <li><a href="index.html#"><img src="{% static 'product/assets/' %}img/icon/laptop.svg" alt=""><span>Electronics</span></a></li>
                <li><a href="index.html#"><img src="{% static 'product/assets/' %}img/icon/grocery.svg" alt=""><span>Grocery & Market</span></a></li>
                <li><a href="index.html#"><img src="{% static 'product/assets/' %}img/icon/music.svg" alt=""><span>Music & Audio</span></a></li>
                <li><a href="index.html#"><img src="{% static 'product/assets/' %}img/icon/furniture.svg" alt=""><span>Home & Furniture</span></a></li>
                <li><a href="index.html#"><img src="{% static 'product/assets/' %}img/icon/toy.svg" alt=""><span>Toy & Video Games</span></a></li>
                <li><a href="index.html#"><img src="{% static 'product/assets/' %}img/icon/gifts.svg" alt=""><span>Gifts</span></a></li>
                <li><a href="index.html#"><img src="{% static 'product/assets/' %}img/icon/mother.svg" alt=""><span>Babies & Moms</span></a></li>
                <li><a href="index.html#"><img src="{% static 'product/assets/' %}img/icon/beauty.svg" alt=""><span>Health & Beauty</span></a></li>
                <li><a href="index.html#"><img src="{% static 'product/assets/' %}img/icon/sports.svg" alt=""><span>Sports & Outdoor</span></a></li>
                <li><a href="index.html#"><img src="{% static 'product/assets/' %}img/icon/garden.svg" alt=""><span>Home & Garden</span></a></li>
                <li><a href="index.html#"><img src="{% static 'product/assets/' %}img/icon/automotive.svg" alt=""><span>Automotive</span></a></li>
            </ul>
        </li>
        <li>
            <a href="index.html#">
                <img src="{% static 'product/assets/' %}img/icon/dress.svg" alt="">
                <span>Fashion & Accessories</span><i class="far fa-angle-right"></i>
            </a>
            <div class="sub-category-mega">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="category-single">
                            <a href="index.html#" class="category-title">Shop Kid's</a>
                            <div class="category-img mb-3">
                                <img src="{% static 'product/assets/' %}img/category/01.jpg" alt="#">
                            </div>
                            <div class="category-link">
                                <a href="index.html#">Kids Toys</a>
                                <a href="index.html#">Kids Color Shape</a>
                                <a href="index.html#">Kids Travel Car</a>
                                <a href="index.html#">Kids Tent</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="category-single">
                            <a href="index.html#" class="category-title">Shop Men's</a>
                            <div class="category-img mb-3">
                                <img src="{% static 'product/assets/' %}img/category/02.jpg" alt="#">
                            </div>
                            <div class="category-link">
                                <a href="index.html#">Watch</a>
                                <a href="index.html#">Hoodies</a>
                                <a href="index.html#">T-shirt</a>
                                <a href="index.html#">Formal Pant</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="category-single">
                            <a href="index.html#" class="category-title">Shop Women's</a>
                            <div class="category-img mb-3">
                                <img src="{% static 'product/assets/' %}img/category/03.jpg" alt="#">
                            </div>
                            <div class="category-link">
                                <a href="index.html#">Ladies Shirt</a>
                                <a href="index.html#">Ladies Sun Glass</a>
                                <a href="index.html#">Ladies Frog</a>
                                <a href="index.html#">Ladies Watch</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </li>
        <li>
            <a href="index.html#">
                <img src="{% static 'product/assets/' %}img/icon/laptop.svg" alt="">
                <span>Electronics</span><i class="far fa-angle-right"></i>
            </a>
            <div class="sub-category-mega">
                <div class="row">
                    <div class="col-lg-3">
                        <div class="category-single">
                            <h6 class="category-title-text">Man Cloths</h6>
                            <div class="category-link">
                                <a href="index.html#">Kids Toys</a>
                                <a href="index.html#">Kids Color Shape</a>
                                <a href="index.html#">Kids Travel Car</a>
                                <a href="index.html#">Kids Tent</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="category-single">
                            <h6 class="category-title-text">Accessories</h6>
                            <div class="category-link">
                                <a href="index.html#">Watch</a>
                                <a href="index.html#">Hoodies</a>
                                <a href="index.html#">T-shirt</a>
                                <a href="index.html#">Formal Pant</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="category-single">
                            <h6 class="category-title-text">Bags</h6>
                            <div class="category-link">
                                <a href="index.html#">Ladies Shirt</a>
                                <a href="index.html#">Ladies Sun Glass</a>
                                <a href="index.html#">Ladies Frog</a>
                                <a href="index.html#">Ladies Watch</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="category-img">
                            <a href="index.html#"><img src="{% static 'product/assets/' %}img/category/04.jpg" alt=""></a>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="category-single">
                            <h6 class="category-title-text">Women Cloths</h6>
                            <div class="category-link">
                                <a href="index.html#">Ladies Shirt</a>
                                <a href="index.html#">Ladies Sun Glass</a>
                                <a href="index.html#">Ladies Frog</a>
                                <a href="index.html#">Ladies Watch</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="category-single">
                            <h6 class="category-title-text">Shoes</h6>
                            <div class="category-link">
                                <a href="index.html#">Ladies Shirt</a>
                                <a href="index.html#">Ladies Sun Glass</a>
                                <a href="index.html#">Ladies Frog</a>
                                <a href="index.html#">Ladies Watch</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="category-single">
                            <h6 class="category-title-text">Bags</h6>
                            <div class="category-link">
                                <a href="index.html#">Ladies Shirt</a>
                                <a href="index.html#">Ladies Sun Glass</a>
                                <a href="index.html#">Ladies Frog</a>
                                <a href="index.html#">Ladies Watch</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="category-img">
                            <a href="index.html#"><img src="{% static 'product/assets/' %}img/category/05.jpg" alt=""></a>
                        </div>
                    </div>
                </div>
            </div>
        </li>
        <li>
            <a href="index.html#">
                <img src="{% static 'product/assets/' %}img/icon/grocery.svg" alt="">
                <span>Grocery & Market</span><i class="far fa-angle-right"></i>
            </a>
            <div class="sub-category-mega">
                <div class="row">
                    <div class="col-lg-3">
                        <div class="category-single">
                            <h6 class="category-title-text">Man Cloths</h6>
                            <div class="category-link">
                                <a href="index.html#">Kids Toys</a>
                                <a href="index.html#">Kids Color Shape</a>
                                <a href="index.html#">Kids Travel Car</a>
                                <a href="index.html#">Kids Tent</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="category-single">
                            <h6 class="category-title-text">Accessories</h6>
                            <div class="category-link">
                                <a href="index.html#">Watch</a>
                                <a href="index.html#">Hoodies</a>
                                <a href="index.html#">T-shirt</a>
                                <a href="index.html#">Formal Pant</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="category-single">
                            <h6 class="category-title-text">Bags</h6>
                            <div class="category-link">
                                <a href="index.html#">Ladies Shirt</a>
                                <a href="index.html#">Ladies Sun Glass</a>
                                <a href="index.html#">Ladies Frog</a>
                                <a href="index.html#">Ladies Watch</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="category-single">
                            <h6 class="category-title-text">Women Cloths</h6>
                            <div class="category-link">
                                <a href="index.html#">Ladies Shirt</a>
                                <a href="index.html#">Ladies Sun Glass</a>
                                <a href="index.html#">Ladies Frog</a>
                                <a href="index.html#">Ladies Watch</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="category-single">
                            <h6 class="category-title-text">Man Cloths</h6>
                            <div class="category-link">
                                <a href="index.html#">Kids Toys</a>
                                <a href="index.html#">Kids Color Shape</a>
                                <a href="index.html#">Kids Travel Car</a>
                                <a href="index.html#">Kids Tent</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="category-single">
                            <h6 class="category-title-text">Accessories</h6>
                            <div class="category-link">
                                <a href="index.html#">Watch</a>
                                <a href="index.html#">Hoodies</a>
                                <a href="index.html#">T-shirt</a>
                                <a href="index.html#">Formal Pant</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="category-single">
                            <h6 class="category-title-text">Bags</h6>
                            <div class="category-link">
                                <a href="index.html#">Ladies Shirt</a>
                                <a href="index.html#">Ladies Sun Glass</a>
                                <a href="index.html#">Ladies Frog</a>
                                <a href="index.html#">Ladies Watch</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="category-single">
                            <h6 class="category-title-text">Women Cloths</h6>
                            <div class="category-link">
                                <a href="index.html#">Ladies Shirt</a>
                                <a href="index.html#">Ladies Sun Glass</a>
                                <a href="index.html#">Ladies Frog</a>
                                <a href="index.html#">Ladies Watch</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </li>
        <li><a href="index.html#"><img src="{% static 'product/assets/' %}img/icon/music.svg" alt=""><span>Music & Audio</span></a></li>
        <li>
            <a href="index.html#">
                <img src="{% static 'product/assets/' %}img/icon/furniture.svg" alt="">
                <span>Home & Furniture</span><i class="far fa-angle-right"></i>
            </a>
            <div class="sub-category-mega">
                <div class="row">
                    <div class="col-lg-3">
                        <div class="category-single">
                            <h6 class="category-title-text">Man Cloths</h6>
                            <div class="category-link">
                                <a href="index.html#">Kids Toys</a>
                                <a href="index.html#">Kids Color Shape</a>
                                <a href="index.html#">Kids Travel Car</a>
                                <a href="index.html#">Kids Tent</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="category-single">
                            <h6 class="category-title-text">Accessories</h6>
                            <div class="category-link">
                                <a href="index.html#">Watch</a>
                                <a href="index.html#">Hoodies</a>
                                <a href="index.html#">T-shirt</a>
                                <a href="index.html#">Formal Pant</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="category-single">
                            <h6 class="category-title-text">Bags</h6>
                            <div class="category-link">
                                <a href="index.html#">Ladies Shirt</a>
                                <a href="index.html#">Ladies Sun Glass</a>
                                <a href="index.html#">Ladies Frog</a>
                                <a href="index.html#">Ladies Watch</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="category-img">
                            <a href="index.html#"><img src="{% static 'product/assets/' %}img/category/04.jpg" alt=""></a>
                        </div>
                    </div>
                </div>
            </div>
        </li>
        <li><a href="index.html#"><img src="{% static 'product/assets/' %}img/icon/toy.svg" alt=""><span>Toy & Video Games</span></a></li>
        <li><a href="index.html#"><img src="{% static 'product/assets/' %}img/icon/gifts.svg" alt=""><span>Gifts</span></a></li>
        <li><a href="index.html#"><img src="{% static 'product/assets/' %}img/icon/mother.svg" alt=""><span>Babies & Moms</span></a></li>
        <li><a href="index.html#"><img src="{% static 'product/assets/' %}img/icon/beauty.svg" alt=""><span>Health & Beauty</span></a></li>
        <li><a href="index.html#"><img src="{% static 'product/assets/' %}img/icon/sports.svg" alt=""><span>Sports & Outdoor</span></a></li>
        <li><a href="index.html#"><img src="{% static 'product/assets/' %}img/icon/garden.svg" alt=""><span>Home & Garden</span></a></li>
        <li><a href="index.html#"><img src="{% static 'product/assets/' %}img/icon/automotive.svg" alt=""><span>Automotive</span></a></li>
    </ul>
</div>