{% load static %}

<div class="small-banner pt-100">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6 col-lg-4">
                <div class="banner-item">
                    <img src="{% static 'product/assets/' %}img/banner/mini-banner-1.jpg" alt="">
                    <div class="banner-content">
                        <p>Hot Collections</p>
                        <h3>Best Travel Sale <br> Collections</h3>
                        <a href="index.html#">Discover Now</a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <div class="banner-item">
                    <img src="{% static 'product/assets/' %}img/banner/mini-banner-2.jpg" alt="">
                    <div class="banner-content">
                        <p>Apple Collections</p>
                        <h3>Apple Smart Watch <br> Collectons</h3>
                        <a href="index.html#">Shop Now</a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <div class="banner-item">
                    <img src="{% static 'product/assets/' %}img/banner/mini-banner-3.jpg" alt="">
                    <div class="banner-content">
                        <p>Shoe Collections</p>
                        <h3>Summer Season <br> Shoe Up To <span>50%</span> Off</h3>
                        <a href="index.html#">Discover Now</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>